In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [12]:
spanish_squads = ['Sevilla', 'Sporting Huelva', 'Athletic Club', 'Levante Planas',
       'UDG Tenerife', 'Villarreal', 'Madrid CFF', 'Barcelona',
       'Atlético Madrid', 'Real Madrid', 'Alhama', 'Alavés',
       'Real Sociedad', 'Levante', 'Real Betis', 'Valencia']

spanish_players = pd.read_csv('assets/all_players.csv')
spanish_players = spanish_players[spanish_players['Squad'].isin(spanish_squads)]
spanish_players = spanish_players.drop(['Player_id', 
                                        'Squad_id'], axis=1)
display(spanish_players.sample(5))

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerialDuels_Won,AerialDuels_Lost,Cmp
111,Fiamma,es ESP,"MF,FW",Valencia,18-172,2004.0,11,9,808,0,...,3.0,4.0,20.0,0.0,0.0,0,69.0,11.0,11.0,0.0
139,Diana Gomes,pt POR,DF,Sevilla,24-135,1998.0,10,9,800,0,...,0.0,5.0,12.0,0.0,1.0,0,61.0,11.0,9.0,0.0
267,Clara Pinedo,NaN,"MF,FW",Athletic Club,19-090,2003.0,10,5,537,2,...,1.0,10.0,6.0,0.0,0.0,0,32.0,4.0,4.0,0.0
312,Liced Serna,co COL,MF,Valencia,20-310,2002.0,1,1,78,0,...,0.0,1.0,0.0,0.0,0.0,0,8.0,2.0,0.0,0.0
134,Geyse,br BRA,"FW,MF",Barcelona,24-256,1998.0,10,7,606,5,...,14.0,10.0,3.0,0.0,0.0,0,24.0,0.0,3.0,0.0

In [18]:
matches = pd.read_csv('assets/matches-checkpoint.csv')
# Make sure 'Home' or 'Away' is in the spanish_squads
matches = matches[(matches['Home'].isin(spanish_squads)) | (matches['Away'].isin(spanish_squads))]

useless_ids = ['Away_id','Home_id','Match_id','League_id']
matches = matches.drop(useless_ids, axis=1)

matches['Date'] = pd.to_datetime(matches['Date'])
display(matches.sample(5), matches.shape)

,Wk,Day,Date,Time,Home,xGHome,Score,xGAway,Away,xPHome,xPAway,ScoreHome,ScoreAway
63,9,Sat,2022-11-19,12:00,Alhama,0.5,1–0,0.5,UDG Tenerife,1.27,1.27,1,0
29,5,Sun,2022-10-16,16:00,Alhama,0.9,0–1,0.9,Valencia,1.34,1.33,0,1
79,11,Sat,2022-12-03,12:00,Sevilla,0.7,2–2,1.5,UDG Tenerife,0.78,1.96,2,2
68,9,Sun,2022-11-20,14:00,Levante Planas,0.6,1–2,1.9,Atlético Madrid,0.53,2.27,1,2
81,11,Sat,2022-12-03,16:00,Athletic Club,0.8,0–2,1.9,Madrid CFF,0.67,2.11,0,2

(87, 13)